# requirements.txt

# Core
pandas>=2.0
numpy>=1.24
streamlit>=1.30.0

# Scraping
requests>=2.31
beautifulsoup4>=4.12
lxml>=4.9
cloudscraper>=1.2.71

# Progress bars
tqdm>=4.66

# ML
scikit-learn>=1.3.0
xgboost>=2.0.0